<article class="article-card{% if article.image == blank or show_image == false %} article-card--no-image{% endif %}" aria-labelledby="Article-{{ article.id }}">
  <a href="{{ article.url }}" class="article-content motion-reduce">
    {%- if show_image == true and article.image -%}
        {%- assign image = article.image -%}

      <picture>
        <source srcset="{{ image | img_url: '300x', scale: 2 }} 2x, {{ image | img_url: '300x' }} 1x" media="(min-width: 768px)" />
        <source srcset="{{ image | img_url: '245x', scale: 2 }} 2x, {{ image | img_url: '245x' }} 1x" media="(min-width: 480px)" />
        <source srcset="{{ image | img_url: '460x', scale: 2 }} 2x, {{ image | img_url: '460x' }} 1x" media="(min-width: 300px)" />
        <img class="lazyimage" loading="lazy" src="{{ square_image | img_url: '1x' }}" alt="{{ article.image.src.alt | escape }}" width="{{ article.image.width }}" height="{{ article.image.height }}" />
      </picture>
        
    {%- endif -%}
      <header class="title{% if article.excerpt.size > 0 %} with_excerpt{% endif %}" id="Article-{{ article.id }}">
        <div class="article_title">
        {{ article.title | escape }}
        </div>
        {% if article.excerpt.size > 0 %}
        <div class="article_excerpt">
          {{ article.excerpt | strip_html | truncatewords: 10 }}
        </div>
        {% endif %}
      </header>
      {%- if show_date -%}
      <span class="meta date">
        {{- article.published_at | time_tag: format: 'date' -}}
      </span>
      {%- endif -%}
      {%- if show_author -%}
      <span class="meta author">{{ article.author -}}</span>
      {%- endif -%}
  </a>
</article>
