{{ 'collage.css' | asset_url | stylesheet_tag }}
<div class="collage flex inner w{{ section.settings.text_box_max_width }}">
  <div class="col1">
  {%- for block in section.blocks -%}
  {%- case block.type -%}
  
  {%- when 'buttons' -%}
    {% if block.settings.column == 'desk_left' %}
    <div class="buttons color-{{ section.settings.color_scheme }}" {{ block.shopify_attributes }}>
      {%- if block.settings.button_label_1 != blank -%}
      
        {% if block.settings.button_link_1 != blank %}<a href="{{ block.settings.button_link_1 }}" class="button{% if block.settings.button_style_secondary_1 %} primary{% endif %}"{% if block.settings.button_link_1 == blank %} aria-disabled="true"{% endif %}>{{ block.settings.button_label_1 | escape }}</a>
        {% endif %}
        
      {%- endif -%}
    </div>
    {% endif %}
    
  {%- when 'text' -%}
    {% if block.settings.column == 'desk_left' %}
      <div class="rte text{% if block.settings.go_serif %} large serif{% endif %}" {{ block.shopify_attributes }}>
        <span>{{ block.settings.richtext }}</span>
      </div>
    {% endif %}
    
  {%- when 'image' -%}
    {% if block.settings.column == 'desk_left' %}
      <div class="image">
       {%- if block.settings.image != blank -%}
       {%- assign image = block.settings.image -%}
      <picture>
        <source srcset="{{ image | img_url: '820x', scale: 2 }} 2x, {{ image | img_url: '820x' }} 1x" media="(min-width: 1270px)" />
        <source srcset="{{ image | img_url: '600x', scale: 2 }} 2x, {{ image | img_url: '600x' }} 1x" media="(min-width: 1100px)" />
        <source srcset="{{ image | img_url: '490x', scale: 2 }} 2x, {{ image | img_url: '490x' }} 1x" media="(min-width: 960px)" />
        <source srcset="{{ image | img_url: '400x', scale: 2 }} 2x, {{ image | img_url: '400x' }} 1x" media="(min-width: 768px)" />
        <source srcset="{{ image | img_url: '768x', scale: 2 }} 2x, {{ image | img_url: '768x' }} 1x" media="(min-width: 480px)" />
        <source srcset="{{ image | img_url: '480x', scale: 2 }} 2x, {{ image | img_url: '480x' }} 1x" media="(min-width: 320px)" />
        <img class="lazyimage" loading="lazy" src="{{ image | img_url: '300x' }}" alt="{{ image.alt | escape }}" width="{{ block.settings.image.width }}" height="{{ block.settings.image.height }}" />
      </picture>

      {%- endif -%}
      
      {%- if block.settings.button_label_1 != blank -%}
      <div class="absolute_buttons flex color-{{ section.settings.color_scheme }}" {{ block.shopify_attributes }}>
        {% if block.settings.button_modal_1 != blank %}<button class="button button_1{% if block.settings.button_style_secondary_1 %} primary{% else %} reverse{% endif %}" onclick="modalPic()">{{ block.settings.button_label_1 | escape }}</button>
        {% elsif block.settings.button_link_1 != blank %}<a href="{{ block.settings.button_link_1 }}" class="button{% if block.settings.button_style_secondary_1 %} primary{% endif %}"{% if block.settings.button_link_1 == blank %} aria-disabled="true"{% endif %}>{{ block.settings.button_label_1 | escape }}</a>
        {% endif %}
      </div>
      {%- endif -%}
      
      </div>
    {% endif %}
    
  {%- endcase -%}
  {%- endfor -%}
  </div>
  <div class="col2">
    {%- for block in section.blocks -%}
    {%- case block.type -%}
    
    {%- when 'buttons' -%}
      {% if block.settings.column == 'desk_right' %}
      <div class="buttons color-{{ section.settings.color_scheme }}" {{ block.shopify_attributes }}>
        {%- if block.settings.button_label_1 != blank -%}
        
          {% if block.settings.button_link_1 != blank %}<a href="{{ block.settings.button_link_1 }}" class="button{% if block.settings.button_style_secondary_1 %} primary{% endif %}"{% if block.settings.button_link_1 == blank %} aria-disabled="true"{% endif %}>{{ block.settings.button_label_1 | escape }}</a>
          {% endif %}
          
        {%- endif -%}
      </div>
      {% endif %}
      
    {%- when 'text' -%}
      {% if block.settings.column == 'desk_right' %}
        <div class="rte text{% if block.settings.go_serif %} large serif{% endif %}" {{ block.shopify_attributes }}>
          <span>{{ block.settings.richtext }}</span>
        </div>
      {% endif %}
      
    {%- when 'image' -%}
      {% if block.settings.column == 'desk_right' %}
        <div class="image">
         {%- if block.settings.image != blank -%}
         {%- assign image = block.settings.image -%}
        <picture>
          <source srcset="{{ image | img_url: '820x', scale: 2 }} 2x, {{ image | img_url: '820x' }} 1x" media="(min-width: 1270px)" />
          <source srcset="{{ image | img_url: '600x', scale: 2 }} 2x, {{ image | img_url: '600x' }} 1x" media="(min-width: 1100px)" />
          <source srcset="{{ image | img_url: '490x', scale: 2 }} 2x, {{ image | img_url: '490x' }} 1x" media="(min-width: 960px)" />
          <source srcset="{{ image | img_url: '400x', scale: 2 }} 2x, {{ image | img_url: '400x' }} 1x" media="(min-width: 768px)" />
          <source srcset="{{ image | img_url: '768x', scale: 2 }} 2x, {{ image | img_url: '768x' }} 1x" media="(min-width: 480px)" />
          <source srcset="{{ image | img_url: '480x', scale: 2 }} 2x, {{ image | img_url: '480x' }} 1x" media="(min-width: 320px)" />
          <img class="lazyimage" loading="lazy" src="{{ image | img_url: '300x' }}" alt="{{ image.alt | escape }}" width="{{ block.settings.image.width }}" height="{{ block.settings.image.height }}" />
        </picture>
  
        {%- endif -%}
        
        {%- if block.settings.button_label_1 != blank -%}
        <div class="absolute_buttons flex color-{{ section.settings.color_scheme }}" {{ block.shopify_attributes }}>
          {% if block.settings.button_modal_1 != blank %}<button class="button button_1{% if block.settings.button_style_secondary_1 %} primary{% else %} reverse{% endif %}" onclick="modalPic()">{{ block.settings.button_label_1 | escape }}</button>
          {% elsif block.settings.button_link_1 != blank %}<a href="{{ block.settings.button_link_1 }}" class="button{% if block.settings.button_style_secondary_1 %} primary{% endif %}"{% if block.settings.button_link_1 == blank %} aria-disabled="true"{% endif %}>{{ block.settings.button_label_1 | escape }}</a>
          {% endif %}
        </div>
        {%- endif -%}
        
        </div>
      {% endif %}
      
    {%- endcase -%}
    {%- endfor -%}
    </div>
</div>

{%- if loadJs == 'yes' -%}
{{ 'modal.css' | asset_url | stylesheet_tag }}
<script src="{{ 'modal.js' | asset_url }}"></script>
{%- else -%}

  {%- for block in section.blocks -%}
  {%- case block.type -%}
  {%- when 'image' -%}
    {%- if block.settings.button_modal_1 != blank -%}
    {% capture loadNewJs %}yes{% endcapture %}
    {%- endif -%}
  {%- endcase -%}
  {%- endfor -%}

  {%- if loadNewJs == 'yes' -%}
  {{ 'modal.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'modal.js' | asset_url }}"></script>
  {%- endif -%}

{%- endif -%}


{%- for block in section.blocks -%}
{%- case block.type -%}
{%- when 'image' -%}


{% if block.settings.button_modal_1 != blank %}

<script>
  function modalPic() {
    basicLightbox.create(`
      {{ block.settings.button_modal_1 }}
    `).show()
  }

</script>
{% endif %}


{%- endcase -%}
{%- endfor -%}



{% schema %}
{
  "name": "Collage of Stuff",
  "class": "collage",
  "settings": [
    {
      "type": "select",
      "id": "text_box_max_width",
      "options": [
        {
          "value": "full",
          "label": "Full"
        },
        {
          "value": "800",
          "label": "800 px"
        },
        {
          "value": "900",
          "label": "900 px"
        },
        {
          "value": "1000",
          "label": "1000 px"
        },
        {
          "value": "1100",
          "label": "1100 px"
        }
      ],
      "default": "full",
      "label": "Desktop text box max width"
    }
  ],
  "blocks": [
  {
    "type": "text",
    "name": "Text",
    "limit": 3,
    "settings": [
      {
        "type": "richtext",
        "id": "richtext",
        "label": "Text Block"
      },
      {
        "type": "checkbox",
        "id": "go_serif",
        "default": false,
        "label": "Go large and serif"
      },
      {
        "type": "select",
        "id": "column",
        "options": [
          {
            "value": "desk_left",
            "label": "Left Column"
          },
          {
            "value": "desk_right",
            "label": "Right Column"
          }
        ],
        "default": "desk_left",
        "label": "Desktop Column"
      }
    ]
  },
  {
    "type": "image",
    "name": "Image",
    "limit": 1,
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "image"
      },
      {
        "type": "text",
        "id": "button_label_1",
        "default": "Button label",
        "label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
        "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
      },
      {
        "type": "html",
        "id": "button_modal_1",
        "label": "file url or iframe for modal",
        "info": "paste iframe code here"
      },
      {
        "type": "url",
        "id": "button_link_1",
        "label": "t:sections.image-banner.blocks.buttons.settings.button_link_1.label"
      },
      {
        "type": "checkbox",
        "id": "button_style_secondary_1",
        "default": false,
        "label": "Alt button style"
      },
      {
      "type": "select",
      "id": "column",
      "options": [
          {
            "value": "desk_left",
            "label": "Left Column"
          },
          {
            "value": "desk_right",
            "label": "Right Column"
          }
        ],
        "default": "desk_left",
        "label": "Desktop Column"
      }
    ]
  },
  {
    "type": "buttons",
    "name": "button",
    "limit": 4,
    "settings": [
      {
        "type": "text",
        "id": "button_label_1",
        "default": "Button label",
        "label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
        "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
      },
      {
        "type": "html",
        "id": "button_modal_1",
        "label": "file url or iframe for modal",
        "info": "paste iframe code here"
      },
      {
        "type": "url",
        "id": "button_link_1",
        "label": "t:sections.image-banner.blocks.buttons.settings.button_link_1.label"
      },
      {
        "type": "checkbox",
        "id": "button_style_secondary_1",
        "default": false,
        "label": "Alt button style"
      },
      {
      "type": "select",
      "id": "column",
      "options": [
          {
            "value": "desk_left",
            "label": "Left Column"
          },
          {
            "value": "desk_right",
            "label": "Right Column"
          }
        ],
        "default": "desk_left",
        "label": "Desktop Column"
      }
    ]
  }
],
  "presets": [{
    "name": "Collage",
    "category": "image"
  }
  ]
}

{% endschema %}
