<link rel="stylesheet" href="{{ 'product-card.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'product-card.css' | asset_url | stylesheet_tag }}</noscript>

{%- liquid
  assign products_to_display = section.settings.collection.all_products_count

  if section.settings.collection.all_products_count > section.settings.products_to_show
    assign products_to_display = section.settings.products_to_show
    assign more_in_collection = true
  endif
-%}

{% assign articleNumber = section.settings.products_to_show %}

{%- if section.settings.products_to_show > section.settings.collection.all_products_count -%}
  {% assign articleNumber = section.settings.collection.all_products_count %}
{%- endif -%}

<div class="featured_blog featured_collection scroller-outer">
  <div class="scroller-inner flex amount-{{ articleNumber }}">
    <div class="text card main_card">
      {%- if section.settings.title != blank -%}
      <h2>{{ section.settings.title | escape }}</h2>
      {%- endif -%}
      
      <div class="rte">
      {{ section.settings.introduction }}
      
      {%- if section.settings.show_view_all and more_in_collection -%}
          <a href="{{ section.settings.collection.url }}"
            class="button dark"
            aria-label="{{ 'sections.featured_collection.view_all_label' | t: collection_name: section.settings.collection.title }}"
          >
            {{ 'sections.featured_collection.view_all' | t }}
          </a>
      {%- endif -%}
      </div>
      
    </div>
    {%- if section.settings.collection != blank and section.settings.collection.all_products_count > 0 -%}
      {%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
    
      <div class="card product_card">
        {% render 'product-card',
          product_card_product: product,
          show_secondary_image: section.settings.show_secondary_image
        %}
      </div>
      {%- endfor -%}

    {%- endif -%}
  </div>
</div>


{% schema %}
{
  "name": "t:sections.featured-collection.name",
  "tag": "section",
  "class": "spaced-section featured_collection-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Featured collection",
      "label": "t:sections.featured-collection.settings.title.label"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.featured-collection.settings.collection.label"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 12,
      "step": 2,
      "default": 4,
      "label": "t:sections.featured-collection.settings.products_to_show.label"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": true,
      "label": "t:sections.featured-collection.settings.show_view_all.label"
    },
    {
      "type": "header",
      "content": "t:sections.featured-collection.settings.header.content"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_secondary_image.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-collection.presets.name"
    }
  ]
}
{% endschema %}
