{% assign articleNumber = section.settings.post_limit %}

{%- if section.settings.post_limit > section.settings.blog.articles_count -%}
  {% assign articleNumber = section.settings.blog.articles_count %}
{%- endif -%}

<div class="featured_blog scroller-outer">
  <div class="scroller-inner flex amount-{{ articleNumber }}">
    <div class="text card main_card">
      {%- if section.settings.heading != blank -%}
      <h2>{{ section.settings.heading | escape }}</h2>
      {%- endif -%}
      
      <div class="rte">
      {{ section.settings.introduction }}
      
      {%- if section.settings.button_label != blank -%}
      <a href="{{ section.settings.blog.url }}" class="button dark"> 
        {{ section.settings.button_label }}
      </a>
      {%- endif -%}
      
      </div>
      
    </div>
    {%- if section.settings.blog != blank and section.settings.blog.articles_count > 0 -%}
    
      {%- for article in section.settings.blog.articles limit: section.settings.post_limit -%}
      <div class="card">
        {% include 'article-color-card' %}
      </div>
      {%- endfor -%}

    {%- endif -%}
  </div>
</div>
  {%- if section.settings.image != blank -%}
  <picture class="background_img">
    <source srcset="{{ section.settings.image | img_url: '2560x700', crop: 'left', format: 'pjpg' }}" media="(min-width: 2048px)" />
    <source srcset="{{ section.settings.image | img_url: '2048x700', crop: 'left', format: 'pjpg' }}" media="(min-width: 1680px)" />
    <source srcset="{{ section.settings.image | img_url: '1680x700', crop: 'left', format: 'pjpg' }}" media="(min-width: 1440px)" />
    <source srcset="{{ section.settings.image | img_url: '1440x700', crop: 'left', format: 'pjpg' }}" media="(min-width: 1200px)" />
    <source srcset="{{ section.settings.image | img_url: '1200x700', crop: 'left', format: 'pjpg' }}" media="(min-width: 1024px)" />
    <source srcset="{{ section.settings.image | img_url: '1024x500', crop: 'left', format: 'pjpg' }}" media="(min-width: 880px)" /> 
    <source srcset="{{ section.settings.image | img_url: '880x500', crop: 'left', format: 'pjpg' }}" media="(min-width: 768px)" />
    <source srcset="{{ section.settings.image | img_url: '768x500', crop: 'left', format: 'pjpg' }}" media="(min-width: 480px)" />
    <source srcset="{{ section.settings.image | img_url: '480x500', crop: 'left', format: 'pjpg' }}" media="(min-width: 320px)" />
    <img{% unless forloop.index == 1 %} loading="lazy"{% endunless %} class="heroshot_image lazyimage" src="{{ section.settings.image | img_url: '320x500' }}" alt="{{ section.settings.image.alt | escape }}" />
  </picture>
  {%- endif -%}


{% schema %}
{
  "name": "t:sections.featured-blog.name",
  "tag": "section",
  "class": "featured_blog-section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Blog posts",
      "label": "t:sections.featured-blog.settings.heading.label"
    },
    {
      "type": "richtext",
      "id": "introduction",
      "default": "<p>Each week we publish articles on books, artists, seasonal recipes, travel and the stories of our makers and materials. Each week we publish articles on books, artists, seasonal recipes, travel and the stories of our makers and materials.</p>",
      "label": "Introduction"
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "See all Articles",
      "label": "Button Label"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "t:sections.featured-blog.settings.blog.label"
    },
    {
      "type": "range",
      "id": "post_limit",
      "min": 3,
      "max": 10,
      "step": 1,
      "default": 5,
      "label": "t:sections.featured-blog.settings.post_limit.label"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background image"
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-blog.presets.name",
      "settings": {
        "blog": "News"
      }
    }
  ]
}
{% endschema %}
