<div class="image-with-text inner grid {% if section.settings.layout == 'text_first' %} switch{% endif %}">
    <div class="image">
        
        {%- if section.settings.image != blank -%}
        
        {%- assign landscape_image = section.settings.image -%}
        {%- if section.settings.mobile_image != blank -%}
          {%- assign square_image = section.settings.mobile_image -%}
        {%- else -%}
          {%- assign square_image = section.settings.image -%}
        {%- endif -%}
       
      
      <picture>
        <source srcset="{{ landscape_image | img_url: '820x615', scale: 2 }} 2x, {{ landscape_image | img_url: '820x615' }} 1x" media="(min-width: 1270px)" />
        <source srcset="{{ landscape_image | img_url: '600x450', scale: 2 }} 2x, {{ landscape_image | img_url: '600x450' }} 1x" media="(min-width: 1100px)" />
        <source srcset="{{ landscape_image | img_url: '490x368', scale: 2 }} 2x, {{ landscape_image | img_url: '490x368' }} 1x" media="(min-width: 960px)" />
        <source srcset="{{ landscape_image | img_url: '400x300', scale: 2 }} 2x, {{ landscape_image | img_url: '400x300' }} 1x" media="(min-width: 768px)" />
        <source srcset="{{ landscape_image | img_url: '768x768', scale: 2 }} 2x, {{ landscape_image | img_url: '768x768' }} 1x" media="(min-width: 480px)" />
        <source srcset="{{ landscape_image | img_url: '480x480', scale: 2 }} 2x, {{ landscape_image | img_url: '480x480' }} 1x" media="(min-width: 320px)" />
        <img class="lazyimage" loading="lazy" src="{{ square_image | img_url: '320x320' }}" alt="{{ square_image.alt | escape }}" width="{{ section.settings.image.width }}" height="{{ section.settings.image.height }}" />
      </picture>
      {%- if section.settings.title != blank -%}
      <div class="text_wrap flex {{ section.settings.desktop_text_box_position }} align-{{ section.settings.text_align }}">
        <span class="h3 color-{{ section.settings.color_scheme }}">{{ section.settings.title }}</span>
      </div>
      {%- endif -%}
      {%- endif -%}
      </div>

    <div class="text">
      <div class="flex">
        {%- for block in section.blocks -%}
          {% case block.type %}
            {%- when 'heading' -%}
              <h2 {{ block.shopify_attributes }}>
                {{ block.settings.heading | escape }}
              </h2>
            {%- when 'text' -%}
              <div class="rte" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
            {%- when 'button' -%}
              {%- if block.settings.button_label != blank -%}
                <a{% if block.settings.button_link != blank %} href="{{ block.settings.button_link }}"{% endif %} class="button{% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}"{% if block.settings.button_link == blank %} aria-disabled="true"{% endif %} {{ block.shopify_attributes }}>
                  {{ block.settings.button_label | escape }}
                </a>
              {%- endif -%}
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
</div>

{% schema %}
{
"name": "t:sections.image-with-text.name",
"class": "spaced-section spaced-section--full-width",
"settings": [
  {
    "type": "image_picker",
    "id": "image",
    "label": "t:sections.image-with-text.settings.image.label"
  },
  {
    "type": "text",
    "id": "title",
    "default": "A Seasonal Setting",
    "label": "text over image"
  },
  {
    "type": "select",
    "id": "color_scheme",
    "options": [
      {
        "value": "white_text",
        "label": "white text"
      },
      {
        "value": "red_text",
        "label": "Red Text"
      },
      {
        "value": "dark_text",
        "label": "Dark Text"
      },
      {
        "value": "blue_text",
        "label": "Blue Text"
      }
    ],
    "default": "white_text",
    "label": "t:sections.image-banner.settings.color_scheme.label",
    "info": "t:sections.image-banner.settings.color_scheme.info"
  },
  {
    "type": "select",
    "id": "desktop_text_box_position",
    "options": [
      {
        "value": "start",
        "label": "t:sections.image-banner.settings.desktop_text_box_position.options__1.label"
      },
      {
        "value": "center",
        "label": "t:sections.image-banner.settings.desktop_text_box_position.options__2.label"
      },
      {
        "value": "end",
        "label": "t:sections.image-banner.settings.desktop_text_box_position.options__3.label"
      }
    ],
    "default": "center",
    "label": "t:sections.image-banner.settings.desktop_text_box_position.label"
  },
  {
    "type": "select",
    "id": "text_align",
    "options": [
      {
        "value": "left",
        "label": "Left"
      },
      {
        "value": "center",
        "label": "Centre"
      },
      {
        "value": "right",
        "label": "Right"
      }
    ],
    "default": "center",
    "label": "text Alignment"
  },
  {
    "type": "select",
    "id": "layout",
    "options": [
      {
        "value": "image_first",
        "label": "t:sections.image-with-text.settings.layout.options__1.label"
      },
      {
        "value": "text_first",
        "label": "t:sections.image-with-text.settings.layout.options__2.label"
      }
    ],
    "default": "image_first",
    "label": "t:sections.image-with-text.settings.layout.label",
    "info": "t:sections.image-with-text.settings.layout.info"
  }
],
"blocks": [
  {
    "type": "heading",
    "name": "t:sections.image-with-text.blocks.heading.name",
    "limit": 1,
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "default": "Image with text",
        "label": "t:sections.image-with-text.blocks.heading.settings.heading.label"
      }
    ]
  },
  {
    "type": "text",
    "name": "t:sections.image-with-text.blocks.text.name",
    "limit": 1,
    "settings": [
      {
        "type": "richtext",
        "id": "text",
        "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
        "label": "t:sections.image-with-text.blocks.text.settings.text.label"
      }
    ]
  },
  {
    "type": "button",
    "name": "t:sections.image-with-text.blocks.button.name",
    "limit": 1,
    "settings": [
      {
        "type": "text",
        "id": "button_label",
        "default": "Button label",
        "label": "t:sections.image-with-text.blocks.button.settings.button_label.label",
        "info": "t:sections.image-with-text.blocks.button.settings.button_label.info"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "t:sections.image-with-text.blocks.button.settings.button_link.label"
      }
    ]
  }
],
"presets": [
  {
    "name": "t:sections.image-with-text.presets.name",
    "blocks": [
      {
        "type": "heading"
      },
      {
        "type": "text"
      },
      {
        "type": "button"
      }
    ]
  }
]
}
{% endschema %}
