{%- if section.settings.make_logo_white -%}
<script>
  document.body.classList.add("white_logo");
</script>
{%- endif -%}

<div class="banner_head flex">
  
  <div class="collection_header">
    <div class="text">
      <h1>{{ collection.title }}</h1>
      {%- if section.settings.show_collection_description -%}
      <div class="rte" {{ block.shopify_attributes }}>
        <span>{{ collection.description }}</span>
      </div>
      {%- endif -%}
    </div>
  </div>
  
{%- if collection.image -%}
  <div class="image_banner letterbox">
  
    {%- assign landscape_image = collection.image -%}
    {%- assign square_image = collection.image -%}
  
    {% include 'image-hero-letterbox' %}
  
  
    <div class="cta flex">
      <div class="text_box">
      
        <h2 class="h0" {{ block.shopify_attributes }}>
          <span>{{ section.settings.subtitle | escape }}</span>
        </h2>
    
      </div>
    </div>
  </div>

{%- endif -%}
</div>

{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "class": "collections_banner",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle -goes over image"
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "default": true,
      "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
    },
    {
      "type": "checkbox",
      "id": "make_logo_white",
      "default": true,
      "label": "Make logo white"
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "default": true,
      "label": "t:sections.main-collection-banner.settings.show_collection_image.label",
      "info": "t:sections.main-collection-banner.settings.show_collection_image.info"
    }
  ]
}
{% endschema %}
