{%- if collection.image -%}
<script>
  document.body.classList.add("white_logo");
</script>
{%- endif -%}

<div class="banner_head flex{% if collection.image %} with_image{% else %} no_image{% endif %}">
  
  <div class="collection_header">
    <div class="text">
      <h1>{{ collection.title }}</h1>
      {%- if collection.description -%}
      <div class="rte" {{ block.shopify_attributes }}>
        <span>{{ collection.description }}</span>
      </div>
      {%- endif -%}
    </div>
  </div>
  
{%- if collection.image -%}
  <div class="ratio_banner letterbox">
  
    {%- assign landscape_image = collection.image -%}
    {%- assign square_image = collection.image -%}
  
    {% include 'image-hero-letterbox' %}
  
  
    <div class="cta flex">
      <div class="text_box">
      
        <h2 class="h0" {{ block.shopify_attributes }}>
          <span>{{ section.settings.subtitle | escape }}</span>
        </h2>
    
      </div>
    </div>
  </div>

{%- endif -%}
</div>

{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "class": "collections_banner ratio_banner",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle goes over image"
    }
  ]
}
{% endschema %}
