{% comment %}
{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}
{% endcomment %}
{{ 'blog.css' | asset_url | stylesheet_tag }}
{%- paginate blog.articles by 15 -%}
<h1 class="visually-hidden">{{ blog.title | escape }}</h1>
 
  <div class="main-blog"">
    
    {%- if section.settings.blog_header != blank or section.settings.blog_intro != blank -%}
    <div class="blog_intro inner intros">
      {%- if section.settings.blog_header != blank -%}
      <h2>{{ section.settings.blog_header }}</h2>
      {%- endif -%}
      {%- if section.settings.blog_intro != blank -%}
      <div class="text rte">{{ section.settings.blog_intro }}</div>
      {%- endif -%}
    </div>
    {%- endif -%}
    
    <nav class="article_tags flex inner">
    <a class="taglink active" href="{{ blog.url }}" data-tag="all">All</a>
    {%- for tag in blog.all_tags -%}
    <a class="taglink" href="{{ blog.url }}/tagged/{{ tag | handle }}" data-tag="{{ tag | handle }}">{{ tag }}</a>
    {%- endfor -%}
    </nav>
    
    <div id="swup" data-tag="{% if current_tags %}{{ current_tags.first | handleize }}{% else %}all{% endif %}">
    {% if current_tags %}
    <div class="tagger inner intros">
     <h3 class="h2">{{ current_tags.first }}</h3>
     {% for block in section.blocks %}
      {% assign tagger = current_tags.first | handleize %}
      {% if tagger == block.settings.title %}
      <div class="text rte">{{ block.settings.tag_desc }}</div>
      {% endif %}
     {% endfor %}
     
    </div>
    {% endif %}
    <div class="blog-articles inner">
      {%- for article in blog.articles -%}
          {%- render 'article-card', article: article, show_image: section.settings.show_image, show_date: section.settings.show_date, show_author: section.settings.show_author -%}
      {%- endfor -%}
    </div>
    </div>
    {%- if paginate.pages > 1 -%}
      {%- render 'pagination', paginate: paginate -%}
    {%- endif -%}
  </div>
{%- endpaginate -%}

<script src="{{ 'blog.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "t:sections.main-blog.name",
  "tag": "section",
  "class": "blog_grid spaced-section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-blog.settings.header.content"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "t:sections.main-blog.settings.show_image.label"
    },
    {
      "type": "text",
      "id": "blog_header",
      "label": "Blog Intro Header"
    },
    {
      "type": "richtext",
      "id": "blog_intro",
      "label": "Blog Intro Paragraph"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.main-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": false,
      "label": "t:sections.main-blog.settings.show_author.label"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-blog.settings.paragraph.content"
    }
  ],
  "blocks": [
    {
      "type": "tag_text",
      "name": "Tag text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Tag Handle",
          "info": "add the the handle here, this is usually the tag name, in lowercase with spaces replaced by dashes"
        },
        {
        "type": "textarea",
        "id": "tag_desc",
        "label": "Tag Intro text"
        }
      ]
    }
  ]
}
{% endschema %}
